.white-text {
    color: white !important;
}

.white-button {
    color: white !important;
    background-color: transparent !important;
    border: 1px solid white !important;
}
.alert.alert-success{
    color: white;
}